.maincard{
    margin-top: 100px !important;
}
.darkcolor{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(0,0,0,0.3);
}
.bgimg22{
    position: relative;
    width: 100%;
    height: 100vb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}